@using Notabledle.NotableModel
@using Notabledle.NotableModel.GameDisplay

@page "/"

<head>
    <style>
        table, th, td {
            border: 1px solid black;
        },
    </style>
</head>

<PageTitle>Notabledle</PageTitle>

<h1>Notabledle</h1>

@if (gameState.Count == 0)
{
<input type="button" name="randomizeNotableButton" value="Randomize" @onclick="Randomize"/>
}

<p role="status">Guess count: @gameState.Count</p>

<form id="notableGuessForm" @onsubmit="GuessNotable">
    <label for="notableGuessField">Notable:</label>

    <input type="text"
           id="notableGuessField"
           list="notableGuessOptions"
           name="Notable"
           autocomplete="on"
           placeholder="Input a notable"
           require @bind="currentGuess">
    <datalist id="notableGuessOptions">
        @foreach (var item in NotableList.Value)
        {
            <option>@item.Name</option>
        }
    </datalist>

    @if (NotableList.AsDictionary.Value.Keys.Contains(currentGuess))
    {
        <input id="submitNotableGuess" type="submit" value="Submit guess"/>
    }
    else
    {
        <input id="submitNotableGuess" type="submit" value="Submit guess" disabled />
    }
</form>

@if (notableGame.IsWin())
{
    <p id="winText" style="font-size:x-large">You win!</p>
}
<table data-escape="false">
    <tr>
    @foreach (var (header, helpText) in notableGame.GetHeaders())
    {
        <th>
            <div title="@helpText">@header</div>
        </th>
    }
    </tr>
    @foreach (var gameStateRow in gameState)
    {
        <tr>
            <td bgcolor="@gameStateRow[0].Color">@gameStateRow[0].GuessText</td>
            <td bgcolor="@gameStateRow[1].Color">@gameStateRow[1].GuessText</td>
            <!-- This one is special -->
            <td bgcolor="@gameStateRow[2].Color"><img src="@gameStateRow[2].GuessText" alt="@gameStateRow[1].GuessText"/></td>
            <td bgcolor="@gameStateRow[3].Color">@gameStateRow[3].GuessText</td>
            <td bgcolor="@gameStateRow[4].Color">@gameStateRow[4].GuessText</td>
            <td bgcolor="@gameStateRow[5].Color">@gameStateRow[5].GuessText</td>
            <td bgcolor="@gameStateRow[6].Color">@gameStateRow[6].GuessText</td>
            <td bgcolor="@gameStateRow[7].Color">@gameStateRow[7].GuessText</td>
            <td bgcolor="@gameStateRow[8].Color">@gameStateRow[8].GuessText</td>
            <td bgcolor="@gameStateRow[9].Color">@gameStateRow[9].GuessText</td>
            <td bgcolor="@gameStateRow[10].Color">@gameStateRow[10].GuessText</td>
        </tr>
    }
</table>

@code {
    private string currentGuess = "";
    private List<List<PropertyCell>> gameState = new List<List<PropertyCell>>();
    NotableGame notableGame = new NotableGame();
    bool canGuessNotable;

    private void GuessNotable()
    {
        gameState = notableGame.GuessNotable(currentGuess);
        currentGuess = ""; // Clear the input after making a guess
    }

    private void Randomize()
    {
        notableGame.Randomize();
    }
}
